article{
    transition: all 0.5s;
    margin: 0px;
    margin-left: 0px;
}
body{
    font-family: 'Lexend', sans-serif;
}
h1,h2,h3,h4,h5,p{
    margin: 0;
}
nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    place-items: center;
    justify-content: center;
    position: fixed;
    bottom: 24px;
    z-index: 1;
    /* background: #80808033; */
}
nav ul{
    display: flex;
    flex-direction: row;
    background: rgb(128, 128, 128, 0.2);
    padding: 10px;
    border-radius: 34px;
    backdrop-filter: blur(20px);
    gap: 20px;
}
nav ul li i , .i{
    padding: 15px;
    border-radius: 50%;
    transition: all 0.3s;
    cursor: pointer;
}
nav ul li .i:hover{
    background: black;
}
button{
    transition: all 0.3s;
}
button:hover{
    background: white;
    color: rgba(43,0,128,1);
}
.about{
    align-items: center;
    justify-content: center;
}
/* .about div{
    align-items: flex-start;
    background: red;
} */
.about section{
    align-items:flex-start;
    justify-content: center;
}
.about section h2{
    font-size: 1.3rem;
}
/* .about section article:nth-child(1){
    background: #80808033;
} */
@keyframes slideIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.img_div img{
    transform:rotate(-10deg)
}
.scroll_ctn{
    display: flex;
    animation: scrollAnimation 10s linear infinite;
}
@keyframes scrollAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }