@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: SpaceMono;
    transition: all 1s;
  }
  article{
    margin: 0;
    margin-left: 0;
  }
  @font-face {
    font-family: Spacemono;
    src: url(../public/fonts/SpaceMono-Regular.ttf);
  }
  @font-face {
    font-family: Novasquare;
    src: url(../public/fonts/Quantico-Regular.ttf);
  }
  button{
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    padding: 0.6em 1.2em;
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.25s;
  }
  button:hover{
    background: red;
    color: white;
    border-color: transparent;
  }
  h1{
    font-size: 4rem;
    font-weight: 900;
  }
  h2{
    font-size: 2.2rem;
  }
  h3{
    font-size: 2rem;
  }
  h4{
    font-size: 1rem;
  }
  h5{
    font-size: 0.7rem;
  }
  p{
    margin: 0;
  }
}